.container
  .row
    .center
      .light-grey
        %br
          - if @posts
            %br
            - @posts.each do |post|
              .row
                - if post.picture.present?
                  .span7
                    .row
                      %h3= post.title
                      %h4= post.created_at.strftime("%B %d, %Y")
                    .row
                      %br
                      %h4{:style => "line-height:25px"}= post.body
                  .span5
                    .row
                      = link_to cl_image_tag(post.picture.cloudinary_public_id, :width => 300, quality: 'jpegmini', sign_url: true, dpr: :auto, :title=>"#{post.picture.title}", :style => "padding:25px;"), picture_path(post.picture)
                - else
                  .span12
                    .row
                      %h3= post.title
                    .row
                      %h4= post.created_at.strftime("%B %d, %Y")
                      %br
                      %h4{:style => "line-height:25px"}= post.body
              .row
                %br
                %hr
