.center.light
  %h2= "Edit album: #{@album.name}"

.row-fluid.center
  .span2
    %br
    %br
    = link_to 'Back', :back, :style => 'color:lightgrey;margin-left:15%;font-size:14px;'

  .span8
    .light-grey
      %br
      %h4
        Current ordering (0 is first):
      = @album.ordering
      %h4
        Number of pictures
      = @album.pictures.size

%hr
.row.center.light
  %h3 Make your changes below
  %br

  = form_for @album, :url => album_path do |f|
    = label_tag :name, "Name (required)"
    = f.text_area :name, rows: 1
    %br
    %br

    = f.submit 'Submit changes', class: "btn btn-primary radius"

%hr
.row.center
  = link_to("Delete this album", album_path(@picture), method: :delete, class: "btn btn-danger radius", confirm: "Are you sure you want to permanently delete this album?")


