%h1.center.light All albums:

.center.light
  - @albums.each do |album|
    %h4
      = link_to "#{album.name} - #{album.pictures.size} pictures", edit_album_path(album)

  %hr
  - @misc_albums.each do |album|
    %h4
      = link_to "#{album.name} - #{album.pictures.size} pictures", edit_album_path(album)
