%h1.center.light All albums:

.center.light
  - @albums.each do |album|
    %h4
      = "#{album.name} - #{album.pictures.size} pictures"

  %hr
  - @misc_albums.each do |album|
    %h4
      = "#{album.name} - #{album.pictures.size} pictures"
