=#TODO - allow adding of picture to an album

= form_for @picture, :url => pictures_path do |f|
  = label_tag :upload_photo, "Choose photo to upload"
  = f.file_field :photo_file

  =# label_tag :upload_thumbnail, "Upload the matching thumbnail"
  =# f.file_field :thumbnail_file

  = label_tag :title, "Title"
  = f.text_area :title

  = label_tag :description, "Description"
  = f.text_area :description

  =# label_tag :location, "Location"
  =# f.text_area :location
  = label_tag :album_label, "Select an album"
  = f.select :album, options_for_select(Album.all.map(&:name)), :prompt => ' '

  = f.check_box :slideshow

  = submit_tag 'Add picture'
