%h1.center Add a new photo

.center.light
  %script{:src => 'galleria.classic.js'}
  = form_for @picture, :url => pictures_path do |f|
    .bold{:style=>"color:lightgrey;"}
      = label_tag :upload_photo, "Choose photo to upload (required):"
    %br
    = f.file_field :photo_file
    %br
    %br

    =# label_tag :upload_thumbnail, "Upload the matching thumbnail"
    =# f.file_field :thumbnail_file

    = label_tag :title, "Title (required)"
    = f.text_area :title, :rows => 2

    = label_tag :description, "Description"
    = f.text_area :description, :rows => 5

    =# label_tag :location, "Location"
    =# f.text_area :location
    =# label_tag :album_label, "Select an album"
    %br
    %br
    = f.select :album, options_for_select(Album.all.map(&:name).map(&:titleize).sort), :prompt => 'Please select an album (upload)'
    %br

    %br
    = label_tag :slideshow_label, "Part of slideshow?"
    = f.check_box :slideshow

    %br
    %br
    %br

    = f.submit 'Add picture', class: "btn btn-primary"
