.row-fluid
  %script{src: 'galleria.classic.js'}
  .span2#back-to-gallery{style: "margin: 0px; min-width:225px; text-align:center;"}
    %br
    %br
    = link_to back_to_gallery_or_album_copy, (@album.name.downcase == 'frames' ? framing_path : gallery_index_path), :style => 'color:lightgrey;margin-left:5px;font-size:16px;text-decoration:underline;'

  .span8{style: "margin: 0px; min-width: 750px"}
    .center
      = cl_image_tag @picture.cloudinary_public_id, {:style=>"max-width:750px;max-height:700px;"}

      -#TODO -style description, color
      .light-grey
        %br
        %h4= @picture.title
        %h6= @picture.description

  .span2.light-grey#album-info{style: "margin-top: 0px; margin-bottom: 0px; text-align: center; margin-left:1px; min-width: 150px;"}
    %br
    %br
    %h4= "Album:"
    %h3= @picture.album.name
    %h5= "#{index_within_album(@picture)} of #{@album.pictures.size}"
    - unless first_picture?
      = link_to 'Previous', picture_path(previous_picture), :style => 'color:lightgrey;font-size:16px;text-decoration:underline;'
    - if display_hashmark?
      %span= "|"
    - unless last_picture?
      = link_to 'Next', picture_path(next_picture), :style => 'color:lightgrey;font-size:16px;text-decoration:underline;'
