-#TODO disable right-click
.row-fluid
  .span2
    %br
    %br
    = link_to 'Back', :back, :style => 'color:lightgrey;margin-left:15%;font-size:13px;'

  .span8
    .center
      = image_tag "#{@picture.filename}", {:style=>"max-width:900px;max-height:700px;"}

      -#TODO -style description, color
      .light-grey
        %br
        %h4= @picture.title
        %h6= @picture.description

  .span2
