-#TODO disable right-click
.row-fluid
  .span2
    %br
    %br
    = link_to 'Back', :back, :style => 'color:lightgrey;margin-left:15%;font-size:13px;'

  .span8
    .center
      = image_tag "#{@picture.filename}"

      -#TODO -style description, color
      %h5= "#{@picture.description}"

  .span2
