%h1.center Add a new blog post

.center.light
  = form_for @post, :url => posts_path do |f|
    %br
    %br
    = f.select :volume, options_for_select(Volume.all.map(&:name).map(&:titleize).sort), :prompt => 'Please select a blog volume for this post (required)'
    %br
    = label_tag :title, "Title (required)"
    = f.text_area :title, :rows => 2
    %br
    = label_tag :body, "Body (required)"
    = f.text_area :body, :rows => 15
    %br
    %br
    .bold{:style=>"color:lightgrey;"}
      = label_tag :upload_photo, "Choose photo to upload (optional):"
    %br
    = f.file_field :photo_file
    = f.hidden_field :album, :value => "Blog"
    %br
    %br
    %br

    = f.submit "Add post", class: "btn btn-primary"
